.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


.Header {
  background-image: url(./img/banner-header.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  border-radius: 50px;
}
.header-text {
  font-family: 'Dancing Script', cursive;

  font-weight: 900;
  font-size: 80px;
}

body {
  background-image: url(./img/background-art.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  
}

.home-container {
  background-color: rgba(19, 46, 19, 0.596);
  height: 000px;
  margin-left: 80px;
  margin-right: 80px;
  border-style: groove;
  border-color: antiquewhite;
}

.search-bar {
  background-color: #f8f8f894;
  font-family: 'Dancing Script', cursive;
}



.info-box {
  height: 5 00px;
  margin-top: 50px;
    background:
        linear-gradient(rgba(143, 17, 17, 0.466), transparent),
        linear-gradient(to top left, rgba(0, 255, 0, 0.477), transparent),
        linear-gradient(to top right, rgba(27, 27, 114, 0.511), transparent);
    background-blend-mode: screen;
  margin-left: 80px;
  margin-right: 80px;
  border-style: solid;
  border-color: antiquewhite;
}
.flex-paint{
  padding-top: 40px;
  height: 1000px;
}
.info-paint {
  height: fit-content;
}

.how-to-container {
  background:
  linear-gradient(rgba(143, 17, 17, 0.466), transparent),
  linear-gradient(to top left, rgba(30, 134, 30, 0.477), transparent),
  linear-gradient(to top right, rgba(27, 27, 114, 0.511), transparent);
background-blend-mode: screen;
height: 1000px;
margin-left: 80px;
margin-right: 80px;
border-style: solid;
border-color: antiquewhite;
}

button {
  background-color: antiquewhite;
  border-radius: 40%;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}

.foreground {
  background: white;
  height: 80px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
    background-size: 20%;
    font-family: 'Dancing Script', cursive;
}

.comment-button {
    display: block;
    width: 100%;
    border-style: dotted;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
}